baostock==0.8.8
Flask==2.3.2
Flask_Cors==3.0.10
pandas==2.0.2
pandas_datareader==0.10.0
pre_request==2.1.5
psycopg2==2.9.6
pytz==2023.3
Requests==2.31.0
SocksiPy_branch==1.01
SQLAlchemy==2.0.16
stockstats==0.5.4
yfinance==0.2.20
